@import "tailwindcss";


@font-face {
  font-family: 'Wizards Magic';
  src: url('/font/Wizards Magic.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal; 
}

a, p, h1, div, button {
  font-family: 'Wizards Magic', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.font-size-3 {
  font-size: 3rem;
}

html, body {
  background-color: #0a0a0a; 
  overscroll-behavior-y: none; 
}